	header, section, footer, aside, nav, main, article, figure
	{ 
		display: block; 
	}	
	
	html{
		height: 99%;
		width: 99%;
		font-family: Arial, Tahoma, Helvetica, Sans-Serif;
		font-size: 100%;
	}

	body{
		background-color: #f1f1f1;
		height: inherit;
		width: inherit;
	}
	
	.hidden{
		display: none;
	}
	
	a{
		color: inherit;
		transition: 0.3s linear;
	}
	
	a:link, a:visited {	 /* unvisited link */
		text-decoration: none;
	}   
	
	a:hover, a:active {	 /* mouse over link */
		text-shadow: 0 0 0.05em #B1B1B1, 0 0 1em #B1B1B1;
	}
	
	u{
		transition: 0.3s linear;
	}
	
	u:hover {
		text-shadow: 0 0 0.05em #7E7E7E, 0 0 1em #7E7E7E;
		cursor: pointer;
	}	
	
	.main_div{
		margin: auto;
		background-color: #E4E4E4;
		box-shadow: 0 0.1em 0.1em #B1B1B1;
		border-radius: 0.15em;
		height: 850px;
		width: 900px;
	}
	
	
	.main_div .main_section{
		margin: 1% auto 1% auto;
		padding: 0.5% 2.5% 2.5% 2.5%;
		background-color: white;
		border-radius: 0.25em;
		transition-delay: 2s;
		height: 60.5%;
		width: 93%;
		position: relative;
		background: url("../images/secbg.png") no-repeat;
		background-position: 20% 30%;
		background-color: #ffffff;
	}
	
	hr.style-one {
		border: 0;
		height: 1px;
		background: #333;
		background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
		background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
		background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
		background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
	}
	
	.main_div .main_header{
		height: 15%;
		margin: 1% auto 1% auto;
		border-radius: 0.25em;
		background: url("../images/bg.png") no-repeat;
		background-size: cover;
		background-position: 0% 35%;
	}
	
	.logo{
		position: relative;
		top: 30%;
		left: 1%;
		text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #E6E6E6, 0 0 7px #E6E6E6, 0 0 8px #E6E6E6, 0 0 10px #E6E6E6, 0 0 15px #E6E6E6;
		color: white;
		font-size: 300%;
	}
	
	.main_div .main_nav{
		margin: 1% auto 1% auto;
		height: 2.3%;
		border-radius: 0.25em;
		background-color: #2E2E2E;
		color: white;
		text-align: center;
		text-shadow: 0 0 0.2em #B1B1B1;
	}
	
	.main_div .main_footer{
		margin: 1% auto 1% auto;
		padding: 1.5% 1.5% 1.5% 1.5%;
		width: 95%;
		height: 11%;
		border-radius: 0.25em;
		background: url("../images/unis.png") no-repeat;
		background-size: 25%;
		background-position: 98% 50%;
		background-color: #333333;
		color:  #fff;		
	}
	
	.main_section > p{
		text-indent: 3%;
		font-family: 'Segoe UI';
		font-size: 104%;
		color: #222222;
	}
	
	.main_footer > p{
		color: #CCCCCC;
		font-size: 70%;
	}
	
	.main_section > h1,h2,h3,h4,h5,h6{
		font-family: 'Segoe UI';
		color: #444444;
		text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 7px #fff, 0 0 8px #fff, 0 0 10px #000, 0 0 15px #000;
	}	
	
	.scrolling_p{
		white-space: nowrap;
		overflow: hidden;
		-webkit-animation: marquee 20s linear infinite;
		animation: marquee 20s linear infinite;
		font-family: 'Courier New';
	}
	
	
	li{
		list-style-type: square;
	}

	.main_nav ul{
		text-align: left;
	}
	
	.main_nav ul li{
		display: inline;
		padding: 1%;
	}
	
	/* Chrome, Safari, Opera */
	@-webkit-keyframes marquee
	{
		0% { text-indent: 100%; }
		100% { text-indent: -150%; }	
	}
	
	/* Standard syntax */
	@keyframes marquee {
		0%   { text-indent: 100%; }
		100% { text-indent: -150%; }
	}
	
	.sectionForm {
		margin: 0 0 0 3%;
		height: inherit;
		overflow: auto;
		font-size: 90%;
	}

	.buttonbar{
		position: absolute;
		bottom: 2%;
		width: inherit;
	}
	
	button.main {
		position: relative;
		left: 35%;
		background-color: #8c9cbf;
		background-image: -webkit-linear-gradient(top, #B2B2B2 0%, #666666 50%, #4D4D4D 50%, #333333 100%);
		background-image: -moz-linear-gradient(top, #B2B2B2 0%, #666666 50%, #4D4D4D 50%, #333333 100%);
		background-image: -ms-linear-gradient(top, #B2B2B2 0%, #666666 50%, #4D4D4D 50%, #333333 100%);
		background-image: -o-linear-gradient(top, #B2B2B2 0%, #666666 50%, #4D4D4D 50%, #333333 100%);
		border: 1px solid #333333;
		border-bottom: 1px solid #2E2E2E;
		border-radius: 5px;
		-webkit-box-shadow: inset 0 1px 0 0 #999999;
		box-shadow: inset 0 1px 0 0 #999999;
		color: #fff;
		font-size: 100%;
		padding: 5px 0 6px 0;
		text-decoration: none;
		text-align: center;
		text-shadow: 0 -1px 1px #000f4d;
		width: 13%;
	}
	
	button.main.inline{
		width: auto;
		left: 0%;
		padding: 1px 7px 2px 7px;
	}
	
	
	button.main:hover {
		background-color: #7f8dad;
		background-image: -webkit-linear-gradient(top, #7F7F7F 0%, #4D4D4D 50%, #333333 50%, #1A1A1A 100%);
		background-image: -moz-linear-gradient(top, #7F7F7F 0%, #4D4D4D 50%, #333333 50%, #1A1A1A 100%);
		background-image: -ms-linear-gradient(top, #7F7F7F 0%, #4D4D4D 50%, #333333 50%, #1A1A1A 100%);
		background-image: -o-linear-gradient(top, #7F7F7F 0%, #4D4D4D 50%, #333333 50%, #1A1A1A 100%);		
		cursor: pointer;
	}
	button.main:active {
		-webkit-box-shadow: inset 0 0 20px 0 #333333, 0 1px 0 white;
		box-shadow: inset 0 0 20px 0 #333333, 0 1px 0 white;
	}
	button.main:disabled{
		background-image: -webkit-linear-gradient(top, #CCCCCC 0%, #999999 50%, #4D4D4D 50%, #CCCCCC 100%);
		background-image: -moz-linear-gradient(top, #CCCCCC 0%, #999999 50%, #4D4D4D 50%, #CCCCCC 100%);
		background-image: -ms-linear-gradient(top, #CCCCCC 0%, #999999 50%, #4D4D4D 50%, #CCCCCC 100%);
		background-image: -o-linear-gradient(top, #CCCCCC 0%, #999999 50%, #4D4D4D 50%, #CCCCCC 100%);
		color: #CCCCCC;
	}
	
	@-webkit-keyframes textShadowPulse {
		from { text-shadow: 0 0 0 #000; }
		50% { text-shadow: 0 0 1em #000; }
		to { text-shadow: 0 0 0 #000; }
	}
	
	@keyframes textShadowPulse {
		from { text-shadow: 0 0 0 #000; }
		50% { text-shadow: 0 0 1em #000; }
		to { text-shadow: 0 0 0 #000; }
	}
	
	@-webkit-keyframes backgroundPulse {
		from { background-color: #000; -webkit-box-shadow: 0 0 0 #000; }
		50% { background-color: #000; -webkit-box-shadow: 0 0 1em #000; }
		to { background-color: #000; -webkit-box-shadow: 0 0 0 #000; }
	}
	
	@keyframes backgroundPulse {
		from { background-color: #000; box-shadow: 0 0 0 #000; }
		50% { background-color: #000; box-shadow: 0 0 1em #000; }
		to { background-color: #000; box-shadow: 0 0 0 #000; }
	}
	
	@-webkit-keyframes borderPulse {
		from { -webkit-box-shadow: 0 0 0 #000; }
		50% { -webkit-box-shadow: 0 0 1em #000; }
		to { -webkit-box-shadow: 0 0 0 #000; }
	}
	
	@keyframes borderPulse {
		from { box-shadow: 0 0 0 #000; }
		50% { box-shadow: 0 0 1em #000; }
		to { box-shadow: 0 0 0 #000; }
	}	
	
	.uploadSuccessMsg{
		color: #008000;
		-webkit-animation-name: textShadowPulse;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: 1;
		animation-name: textShadowPulse;
		animation-duration: 1s;
		animation-iteration-count: 1;		
	}
	
	.uploadErrorMsg{
		color: #E60000;
		-webkit-animation-name: textShadowPulse;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: 3;
		animation-name: textShadowPulse;
		animation-duration: 1s;
		animation-iteration-count: 3;		
	}
	
	.bgPulse{
		-webkit-animation-name: backgroundPulse;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: 1;
		animation-name: backgroundPulse;
		animation-duration: 1s;
		animation-iteration-count: 1;	
	}
	
	.bdPulse{
		-webkit-animation-name: borderPulse;
		-webkit-animation-duration: 2s;
		-webkit-animation-iteration-count: 1;
		animation-name: borderPulse;
		animation-duration: 2s;
		animation-iteration-count: 1;	
	}
	
	button.main.upload{
		left: 0%;
		padding: 5px 0 6px 0;
		font-size: 80%;
	}
	
	input[type=text], textarea, select, label {
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		outline: none;
		min-width: 10em;
		padding: 2px 0px 3px 3px;
		margin: 2px 1px 3px 0px;
		border: 1px solid #DDDDDD;
		font-size: 80%;
		font-family: 'Arial';
	}
	
	select{
		padding: 1px 0px 2px 3px;
		min-width: 11.4em;
	}
 
	input[type=text]:focus, textarea:focus, select:focus{
		box-shadow: 0 0 5px #333333;
		padding: 2px 0px 3px 3px;
		margin: 2px 1px 3px 0px;
		border: 1px solid #333333;
	}
	
	select:focus{
		padding: 1px 0px 2px 3px;
	}
	

	progress[value] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		width: 250px;
		height: 12px;
		padding-bottom: 2px;
	}
	
	progress[value]::-webkit-progress-bar {
		background-color: #eee;
		border-radius: 1px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		animation: animate-stripes 7s linear infinite;
	}

	progress[value]::-webkit-progress-value {
		background-image:
		   -webkit-linear-gradient(-45deg, 
								   transparent 33%, rgba(0, 0, 0, .1) 33%, 
								   rgba(0,0, 0, .1) 66%, transparent 66%),
		   -webkit-linear-gradient(top, 
								   rgba(255, 255, 255, .25), 
								   rgba(0, 0, 0, .25)),
		   -webkit-linear-gradient(left, #B2B2B2, #000);

		border-radius: 1px;
		background-size: 35px 20px, 100% 100%, 100% 100%;
		-webkit-animation: animate-stripes 7s linear infinite;
	}
	
	progress[value]::-moz-progress-bar {
		background-image:
		   -moz-linear-gradient(-45deg, 
								   transparent 33%, rgba(0, 0, 0, .1) 33%, 
								   rgba(0,0, 0, .1) 66%, transparent 66%),
		   -moz-linear-gradient(top, 
								   rgba(255, 255, 255, .25), 
								   rgba(0, 0, 0, .25)),
		   -moz-linear-gradient(left, #B2B2B2, #000);

		border-radius: 2px;
		background-size: 35px 20px, 100% 100%, 100% 100%;
	}	
	
	@-webkit-keyframes animate-stripes {
		100% { background-position: -100px 0px; }
	}

	@keyframes animate-stripes {
		100% { background-position: -100px 0px; }
	}
	
	/* Progress bar fallback*/
	.progress-bar {
		background-color: whiteSmoke;
		border-radius: 2px;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

		width: 250px;
		height: 20px;

		position: relative;
		display: block;
	}

	.progress-bar > span {
		background-color: blue;
		border-radius: 2px;
		display: block;
		text-indent: -9999px;
	}
	
	input[type=checkbox]:before {  
		content: ""; 
		cursor: pointer;
		display: inline-block;
		width: 14px;
		height: 14px; 
		margin: -2px -0 0 -2px;
		background-color: #aaa;  
		box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
		border-radius: 3px; 
	}  	
	
	input[type=checkbox]:checked:before  {
		content: "\2713";  
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
		font-size: 13px;
		color: #f3f3f3;  
		text-align: center;
	}
	
	
	.tooltip {
		background-color: #8AB8E6;
		box-shadow: 0 0.1em 0.5em #333333;
		border-radius: 0.15em;
		margin-left: 0.25em;
		margin-right: 0.25em;
		padding-left: 0.25em;
		padding-right: 0.25em;
	}
	
	.tooltip strong {
		line-height: 30px;
	}
	.tooltip:hover {
		text-decoration: none;
		cursor: default;
	}
	
	
	.tooltip span, .tooltip div
	{
		z-index: 10;
		display: none;
		padding: 7px 13px;
		margin-top: 1.3em;
		font-family: 'Segoe UI';	
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-webkit-box-shadow: 0px 0px 8px 4px #666;
		box-shadow: 0px 0px 8px 4px #666;
		opacity: 0.85;
		max-width: 50%;
	}	

	.tooltip:hover span, .tooltip:hover div{
		display: block;
		position: absolute;
		border: 2px solid #FFF;
		color: #EEE;
		background-color: #000;
		font-size: 90%;
	}
	.callout {
		z-index: 20;
		position: absolute;
		border: 0;
		top: -14px;
		margin-left: 1em;
	}
	
	/* CSS3 clock spinner from http://codepen.io/TaniaLD/pen/oKxep */
	
	.loadingclockcontainer{
		text-align: center;
		width: inherit;
	}
	
	.box{
		display: inline-block;
		/*margin:0 -4px -5px -2px;*/
		transition: all .2s ease;
	}

	.box:nth-child(4n),.box:nth-child(4n-3){
		background-color: inherit;
	}

	.clock{
		border-radius: 60px;
		border: 3px solid #555;
		height: 80px;
		width: 80px;
		position: relative;

		top: 28%;
		top: -webkit-calc(50% - 43px);
		top: calc(50% - 43px);
		left: 35%;
		left: -webkit-calc(50% - 43px);
		left: calc(50% - 43px);
	}
	.clock:after{
		content: "";
		position: absolute;
		background-color: #555;
		top:2px;
		left: 48%;
		height: 38px;
		width: 4px;
		border-radius: 5px;
		-webkit-transform-origin: 50% 97%;
				transform-origin: 50% 97%;
		-webkit-animation: grdAiguille 4s linear infinite;
				animation: grdAiguille 4s linear infinite;
	}

	@-webkit-keyframes grdAiguille{
		0%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:rotate(360deg);}
	}

	@keyframes grdAiguille{
		0%{transform:rotate(0deg);}
		100%{transform:rotate(360deg);}
	}

	.clock:before{
		content: "";
		position: absolute;
		background-color: #555;
		top:6px;
		left: 48%;
		height: 35px;
		width: 4px;
		border-radius: 5px;
		-webkit-transform-origin: 50% 94%;
				transform-origin: 50% 94%;
		-webkit-animation: ptAiguille 48s linear infinite;
				animation: ptAiguille 48s linear infinite;
	}

	@-webkit-keyframes ptAiguille{
		0%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:rotate(360deg);}
	}

	@keyframes ptAiguille{
		0%{transform:rotate(0deg);}
		100%{transform:rotate(360deg);}
	}	
	
	.image_array_div{
		text-align: center;
		height: 55%;
		overflow: auto;
	}
	/* result image div	*/
	.resimg{
		float: left;
		display: inline-block;
		margin: 10px;
		border-style: solid;
		border-width: 0.1em;
		border-color: #B1B1B1;
		box-shadow: 0 0.2em 0.4em #B1B1B1;
		border-radius: 0.15em;		
	}
	
	/* from http://www.alessioatzeni.com/blog/login-box-modal-dialog-window-with-css-and-jquery/ */
	/* Mask for background, by default is not display */
	#mask {
		display: none;
		background: #000;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		opacity: 0.4;
		z-index: 999;
	}	
	
	.main_div .expparamsDlg {
		display: none;
		background-color: #eeeeee;
		color: #222222;
		padding: 10px;
		border: 2px solid #ddd;
		float: left;
		position: fixed;
		top: 40%;
		left: 25%;
		z-index: 99999;
		box-shadow: 0px 0px 20px #999;
		-webkit-box-shadow: 0px 0px 20px #999;
		border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px;
	}

	/* from http://johnsardine.com/freebies/dl-html-css/simple-little-tab/ */
	.rawfiles_tbl a:active,
	.rawfiles_tbl a:hover {
		color: #bd5a35;
		text-decoration:underline;
	}
	.rawfiles_tbl {
		color:#666;
		font-size: 12px;
		text-shadow: 1px 1px 0px #fff;
		background:#eaebec;
		margin:20px;
		border:#ccc 1px solid;
		
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;

		-moz-box-shadow: 0 1px 2px #d1d1d1;
		-webkit-box-shadow: 0 1px 2px #d1d1d1;
		box-shadow: 0 1px 2px #d1d1d1;
		
		-moz-user-select: -moz-none;
		-webkit-user-select: none;	
	}
	
	
	.rawfiles_tbl th {
		padding: 5px 0 6px 0;
		border-top: 1px solid #fafafa;
		border-bottom: 1px solid #e0e0e0;

		background: #ededed;
		background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
		background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
	}
	.rawfiles_tbl th:first-child {
		padding-left:2px;
	}
	.rawfiles_tbl tr:first-child th:first-child {
		-moz-border-radius-topleft:3px;
		-webkit-border-top-left-radius:3px;
		border-top-left-radius:3px;
	}
	.rawfiles_tbl tr:first-child th:last-child {
		-moz-border-radius-topright:3px;
		-webkit-border-top-right-radius:3px;
		border-top-right-radius:3px;
	}
	.rawfiles_tbl tr {
		padding-left:2px;
	}
	.rawfiles_tbl td:first-child {
		padding-left:20px;
		border-left: 0;
	}
	
	.rawfiles_tbl_td_not_selected {
		padding: 4px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: left;
		border-top: 1px solid #ffffff;
		border-bottom:1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;

		background: #fafafa;
		background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
		background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
		cursor: default;
	}
	
	.rawfiles_tbl_td_selected {
		padding: 4px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: left;
		border-top: 1px solid #ffffff;
		border-bottom:1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;

		background: #B0C4DE;
		background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#B0C4DE));
		background: -moz-linear-gradient(top,  #fbfbfb,  #B0C4DE);
		cursor: default;
	}	
	
	.rawfiles_tbl tr.even td {
		background: #f6f6f6;
		background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
		background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
	}
	.rawfiles_tbl tr:last-child td {
		border-bottom:0;
	}
	
	.rawfiles_tbl tr:last-child td:first-child {
		-moz-border-radius-bottomleft:3px;
		-webkit-border-bottom-left-radius:3px;
		border-bottom-left-radius:3px;
	}
	.rawfiles_tbl tr:last-child td:last-child {
		-moz-border-radius-bottomright:3px;
		-webkit-border-bottom-right-radius:3px;
		border-bottom-right-radius:3px;
	}
	
	/*
	.rawfiles_tbl tr:hover td {
		background: #f2f2f2;
		background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
		background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
	}
	*/
	
	.expstructcoord_tbl {
		padding: 4px;
		text-shadow: 1px 1px 0px #fff;
		background:#eaebec;
		margin:20px;
		border:#ccc 1px solid;
		
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;

		-moz-box-shadow: 0 1px 2px #d1d1d1;
		-webkit-box-shadow: 0 1px 2px #d1d1d1;
		box-shadow: 0 1px 2px #d1d1d1;
		
		-moz-user-select: -moz-none;
		-webkit-user-select: none;	
	}	
